/* Estilo CSS para la barra de navegación horizontal */
/* nav {
  position:fixed; 
  left: 0 ;
  top: 0 ;
  width: 200px;
  height: 100% ;
  background-color: #333 ;
  color: white ;
  padding: 20px ;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5) ;
} */

nav{
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px; /* Espacio entre elementos de la lista (ajusta según tus preferencias) */
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}

nav a {
  text-decoration: none;
}
